h3 {
  --primary-color: #4568dc;
  --secondary-color: #b06ab3;
  font-weight: 800;
  font-size: calc(4vw + 4vh);
  letter-spacing: -0.2rem;
  margin: 50px 0 30px;
  background: linear-gradient(
    45deg,
    var(--primary-color) 32.5%,
    var(--secondary-color) 50.5%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1em;
  padding-bottom: 20px;
}
h7 {
  --primary-color: #248c60;
  --secondary-color: #1a9be6;
  font-weight: 800;
  font-size: calc(4vw + 4vh);
  letter-spacing: -0.2rem;
  margin: 50px 100px 100px;
  background: linear-gradient(
    45deg,
    var(--primary-color) 32.5%,
    var(--secondary-color) 50.5%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1em;
  padding-bottom: 10px;
  padding-top: 10px;
}

p {
  text-align: center;
  font-style: italic;
}

@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400");

.quote {
  display: flex;
  height: 40vh;
  align-items: center;
  margin: 0;
  padding-left: 4em;
  padding-right: 4em;
  color: #3f37c9;
  margin-bottom: 4em;
  font-size: 32px;
  font-family: "Fira Mono", monospace;
  letter-spacing: -1px;
  font-style: italic;
  text-align: center;
}
