
 h3 {
   --primary-color: #4568dc;
    --secondary-color: #b06ab3;
  font-weight: 800;
    font-size: calc(4vw + 4vh);
    letter-spacing: -0.2rem;
    margin: 50px 0 30px;
    background: linear-gradient(
        45deg,
        var(--primary-color) 32.5%,
        var(--secondary-color) 50.5%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1em;
    padding-bottom: 20px;
}
h7 {
  --primary-color: #248c60;
   --secondary-color: #1a9be6;
 font-weight: 800;
   font-size: calc(4vw + 4vh);
   letter-spacing: -0.2rem;
   margin: 50px 100px 100px;
   background: linear-gradient(
       45deg,
       var(--primary-color) 32.5%,
       var(--secondary-color) 50.5%
   );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   line-height: 1em;
   padding-bottom: 10px;
   padding-top: 10px;
}
p {
  text-align: center;
  font-style: italic;

}
div{
  text-align: center;
}

h2{
  text-align:center;
  animation: glitch 1s linear infinite;
  
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.something{
  animation: fadeIn ease 2s linear infinite;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

.something{ 
  display: flex;
  width: 100vw;
  height: 40vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #fff;
  font-size: 48px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -1px;
  font-style: italic;
}

.something{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.something:before,
.something:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.something:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.something:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}