.timeline-wrapper, h1{
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}

#submitBtn {
    margin-top: 1em;
    padding:0.5em;
    border-radius: 20px;
    background-color: #c565f8;
}

h1 {
    padding-top:1em;
}