.timeline-wrapper, h1{
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}

#submitBtn {
    padding-left:1em;
    padding-right:1em;
    background-color: #008CBA;
}

h1 {
    padding-top:1em;
}