h3.content-title-work {
  --primary-color: #248c60;
  --secondary-color: #1a9be6;
  font-weight: 800;
  font-size: calc(4vw + 4vh);
  letter-spacing: -0.2rem;
  margin: 50px 0 30px;
  background: linear-gradient(45deg,
      var(--primary-color) 32.5%,
      var(--secondary-color) 50.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1em;
  padding-bottom: 20px;
  text-align: center;
}

.job-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 2em;
  width: 100%;
}

#descriptionJob {
  margin-left: 11em;
  margin-right: 14em;
  margin-top: 0;
  margin-bottom: 0;
}