<!DOCTYPE html>
{% extends 'base.html' %}
<!-- Imports -->
{% block imports %}
<link lang="css" rel="stylesheet" href="./static/styles/about.css" />
{% endblock %}

<!-- Add content here -->
{% block content %}
<div class="container">
  <h3>About me</h3>
  <p>I am a <strong>{{position}}</strong> <span class="auto-type"></span></p>
</div>

<h2 class="quote">{{quote}} <br>- {{author}}</h2>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<script>
  var typed = new Typed(".auto-type", {
    strings: [
      " who can make innovation into invention.",
      " who can succeed in the face of hardships.",
      " who can go above and beyond.",
    ],
    typeSpeed: 30,
    backSpeed: 30,
    loop: true,
  });
</script>
{% endblock %}
