{% extends 'base.html' %}

<!-- Imports -->
{% block imports %} 
{% set theme = request.cookies.get("theme") %} 
{% if theme == 'light' or not theme %}
    <link lang="css" rel="stylesheet" href="./static/styles/light/timeline.css" />
{% else %}
<link lang="css" rel="stylesheet" href="./static/styles/dark/timeline_dark.css" />
{% endif %} {% endblock %}

<!-- Add content here -->
{% block content %}
<h3 class="content-title">Timeline</h3>

<ul class="timeline-wrapper">
    <form name="form" id="form">
        <h3>Username : </h3>
        <input name="name" type="text">
        <h3>Email : </h3>
        <input name="email" type="email">
        <h3>Content : </h3>
        <input name="content" type="text">
        <button type="submit" id="submitBtn">Submit</button>
    </form> 
</ul>

<script>
    const form = document.getElementById('form');
    form.addEventListener('submit', function(e) {
        e.preventDefault();
        const payload = new FormData(form);

        fetch('/api/timeline_post', {
            method: 'POST',
            body:payload
        })
        .then(res => res.json()) //this produce data
        .then(data => location.reload())
        .catch(
            // err: Username is wrong 
        )
    })
</script>

<h1>Reply: </h1>

{% for timeline_post in timeline_posts %}
    <p >{{ timeline_post.name }}</p>
    <p >{{ timeline_post.email }}</p>
    <p >{{ timeline_post.content }}</p>
{% endfor %}

 <script>
//    fetch('/api/timeline_post')
//        .then(res => res.json())
//        .then(data => {
//            console.log(data);
//            let user = data;
//             
// 
//            const name = document.createElement('p');
//            const email = document.createElement('p');
//            const content = document.createElement('p');
//
//            name.innerHTML = `${user.name}`;
//            email.innerHTML = `${user.email}`;
//            content.innerHTML = `${user.content}`;
//        })


//location.reload();
//        context.map(function(stuff){
//            let li = document.createElement('li');
//            let name = document.createElement('h2');
//            let email = document.createElement('h3');
//            let content = document.createElement('p');
//
//            name.innerHTML = `${context.name}`;
//            email.innerHTML = `${context.email}`;
//            content.innerHTML = `${context.content}`;
//
//            li.appendChild(name);
//            li.appendChild(email);
//            li.appendChild(content);
//            list.appendChild(li);

//        });
//    })
//    })
 </script>
{% endblock %}
