<!DOCTYPE html>
{% extends 'base.html' %}
<!-- Imports -->
{% block imports %}
<link lang="css" rel="stylesheet" href="./static/styles/about.css" />
{% endblock %}




<!-- Add content here -->
{% block content %}
<script type="text/javascript">
  function randomColors() {
    document.write("<div style='color:#" + Math.floor(Math.random()*4096).toString(16) + ";font-size: " + 24 + "px;'>");
      
  }
</script>

<div class="container">
  <h7 >Work Experience</h7>
  {% for job in jobs %}

  <script>randomColors()</script><h1> Job Title: {{job.name}} </h1>
  <p> Location : {{job.location}}</p>
  <p> Phone : {{job.contact}}</p>
  <p> {{job.description}}</p></div>
  __________________________________________________________________________________________________________________________________________
  {% endfor %}
  
</div>
{% endblock %}
